/* Header */

.dynamic-header {
    height: 70px;
    box-shadow: 0px 0.1px 20px 0px #b3b3b3;
    z-index: 10;
    padding-left: 115px;
    padding-right: 20px;
    background-color: white;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 100px;
    font-size: 20px;
}

.nav-bar li {
    text-transform: capitalize;
}

.nav-bar li:not(:first-child) {
    margin-left: 10px;
}

.search-input {
    width: 400px;
    /* padding: 10px; */
    /* font-size: 40px; */
}

.router-link-active {
    text-decoration-line: underline;
    color: black;
    /* font-weight: bold; */
}