/* mails aside*/

.mails-aside {
    flex-grow: 1;
    height: 100vh;
}

.user-status {
    box-shadow: 0 1px 0px 0px #b3b3b3;
    padding-left: 2.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.user-status img {
    width: 2.8125rem;
    height: 2.8125rem;
    border-radius: 0.4375rem;
    margin-right: 1rem;
    display: block;
}

.user-name {
    text-transform: capitalize;
    color: #323c47;
    font-size: 1.25rem;
}

.user-role {
    color: #b3b3b3;
    text-transform: capitalize;
    font-size: 0.875rem;
}


.mails-aside-nav ul li {
    padding-left: 2.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}