.email-list-header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.email-list-header-title {
    text-transform: capitalize;
    color: #323c47;
    font-size: 25px;
}

.email-list-filter>button:first-child {
    margin-right: 20px;
}

.filter-btn {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #fcfcfc;
    border: 1px #c8c8c8 solid;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
    border-collapse: collapse;
    transition: .3s;
}

.filter-btn-active {
    background-color: #2290ff;
    color: #fcfcfc;
}