.email-row {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    transition: .3s;
    background-color: #f1f4f4;
    font-family: 'Lato-light';
    cursor: pointer;
}

.email-row:hover {
    padding-top: 10px;
    padding-bottom: 10px;
}

.email-row img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
}

.email-star {
    width: 2%;
}

.mail-favorite {
    color: #e4c065;
}

.email-star button {
    border: none;
    cursor: pointer;
    color: #b3b3b3;
    outline: none;
    background-color: rgba(0, 0, 0, 0.0);
}

.email-sender-pic {
    width: 5%;
}

.email-sender-name {
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: "...";
    width: 10%;
}

.email-preview {
    width: 50%;
    color: #b3b3b3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "...";
}

.email-preview span {
    color: #323c47;
    text-transform: capitalize;
}

.email-date {
    width: 15%;
    color: #b3b3b3;
    text-align: right;
}

.email-options {
    width: 5%;
}

.email-options button {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: rgba(0, 0, 0, 0.0);
}

.new-mail {
    font-family: 'Lato-black';
    background-color: #ffffff;
}