.email-preview {
    color: black;
    margin-bottom: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: #f2f4f4;
    z-index: 1;
}

.email-preview:hover {
    box-shadow: 0 0 7px 2px black;
    z-index: 3;
}

.email-date {
    padding-right: 10px;
    padding-left: 10px;
}

.preview-btn {
    appearance: none;
    border: none;
    color: black;
    background-color: lightskyblue;
    height: 30px;
    border-radius: 5px;
    margin: 2px;
    width: 90px;
}

.delete-btn {
    background-color: red;
    color: white;
    width: 30px;
}

.bold {
    font-weight: bold;
}

.mail-read {
    font-weight: bold;
    background-color: white;
}