@import "email-preview-cmp.css";
@font-face {
    font-family: Lato-regular;
    src: url('../fonts/lato/Lato-Regular.ttf');
}

/* CSS RESET */

* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: 'lato-regular', sans-serif;
}

button {
    cursor: pointer;
}

body, h1, h2, h3, h4, h5, h6, p, div, header, footer {
    padding: 0;
    margin: 0;
}

/* Helpers */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.fixed-top {
    position: fixed;
    top: 0;
}

.flex-col {
    flex-direction: column;
}


/* form { 
    max-width:420px; 
    margin:0 auto; 
    font-family: Maven-pro;
    padding: 50px 20px; 
  }
  
  .feedback-input {
    color:white;
    font-family: Maven-pro;;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #454545;
    border:2px solid #454545;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #454545; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: Maven-pro;
    width: 100%;
    background:#2f937f;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#2f937f; }
  
  .first-msg {
    line-height: 4.56px;
    font-size: 1.875rem;
    color: white;
    margin-top :0;
  }
  
  .second-msg{
    color: white;
    font-size: 1rem;
  } */
 

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 400px;
    /* height: 400px; */
    margin: 0px auto;
    /* padding: 20px 30px; */
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  
 
  
  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .nav-modal{
      background-color: black;
      width: 100%
  }
  form{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  textarea{
    height: 357px;
  }

  .exit-btn{

    background-color: black;
    appearance: none;
    border: none;
    color: white
  }