.masonry {
	/* margin: 0 auto 2em; */
  column-gap: 1.5em;
  column-count: 4;
  /* height: 100vh; */
  padding: 20px;
}


@media (max-width: 980px) {
  .masonry {
    background-color: lightblue;
    column-gap: 1.5em;
    column-count: 3;
  /* height: 100vh; */
    padding: 20px;
  }
}

@media (max-width: 750px) {
  .masonry {
    background-color: pink;
    column-gap: 1.5em;
    column-count: 2;
  /* height: 100vh; */
    padding: 20px;
  }
}


@media (max-width: 540px) {
  .masonry {
    background-color: blue;
    column-gap: 1.5em;
    column-count: 1;
  /* height: 100vh; */
    padding: 20px;
  }
}