.notes-filter{
    padding: 10px;
    margin: 10px;
}
.filter-input{
    padding: 10px;
    outline: none;
    border:1px solid #b3b3b3;
    border-radius:4px;
}

.search-btn{

    border: none;
    cursor: pointer;
    color: #b3b3b3;
    outline: none;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 1rem;
}