.note {
    margin: 20px;
    padding: 10px;
    transition: .3s;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.note:hover {
    transform: scale(1.025);
}
